---
layout: bootstrap
title: Home
permalink: /
---

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <!--Item 1-->
            <div class="item-wrapper">
                <div class="item-top">
                    <div class="avatar" style="background-image:url('/img/avatars/chance.png')"></div>
                    <div class="metadata">
                        <div class="title">
                            Boston Summit Easels
                        </div>
                        <div class="date">
                            30 minutes ago
                        </div>
                    </div>
                    <div class="item-options">
                        <a href="#">
                            {% include svgs/options-icon.html %}
                        </a>
                    </div>
                </div>
                <div class="item-description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere minima, obcaecati quod, delectus consequuntur nisi mollitia dolorum. Quis incidunt quo totam laborum, corporis assumenda id sit! Pariatur sapiente nemo illo!
                    </p>
                </div>
                <div class="item-image">
                    <img src="/img/items/image1.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="voting-wrapper">
                        <div class="top">
                            <a href="#" class="vote-yes">
                                {% include svgs/yes-icon.html %}
                            </a>
                            <a href="#" class="vote-maybe">
                                {% include svgs/maybe-icon.html %}
                            </a>
                            <a href="#" class="vote-no">
                                {% include svgs/no-icon.html %}
                            </a>
                        </div>
                        <div class="bottom">
                            35 votes
                        </div>
                    </div>
                    <div class="comment-trigger-wrapper">
                        <div class="top">
                            <a href="#" class="comment-icon">
                                {% include svgs/comment-icon.html %}
                            </a>
                        </div>
                        <div class="bottom">
                            Be the first to comment
                        </div>
                    </div>
                </div>
            </div>
            <!--End Item 1-->
            <!--Item 2-->
            <div class="item-wrapper">
                <div class="item-top">
                    <div class="avatar" style="background-image:url('/img/avatars/kahwi.png')"></div>
                    <div class="metadata">
                        <div class="title">
                            Boston Summit badges
                        </div>
                        <div class="date">
                            May 11, 2017 @ 3:15PM
                        </div>
                    </div>
                    <div class="item-options">
                        <a href="#">
                            {% include svgs/options-icon.html %}
                        </a>
                    </div>
                </div>
                <div class="item-description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere minima, obcaecati quod, delectus consequuntur nisi mollitia dolorum. Quis incidunt quo totam laborum, corporis assumenda id sit! Pariatur sapiente nemo illo!
                    </p>
                </div>
                <div class="item-image">
                    <img src="/img/items/image2.png" alt="">
                </div>
                <div class="item-bottom">
                    <div class="voting-wrapper">
                        <div class="top">
                            <a href="#" class="vote-yes voted">
                                {% include svgs/yes-icon.html %}
                            </a>
                            <a href="#" class="vote-maybe">
                                {% include svgs/maybe-icon.html %}
                            </a>
                            <a href="#" class="vote-no">
                                {% include svgs/no-icon.html %}
                            </a>
                        </div>
                        <div class="bottom">
                            <strong>You voted!</strong> | 11 votes
                        </div>
                    </div>
                    <div class="comment-trigger-wrapper">
                        <div class="top">
                            <a href="#" class="comment-icon on">
                                {% include svgs/comment-icon.html %}
                            </a>
                        </div>
                        <div class="bottom">
                            18 comments
                        </div>
                    </div>
                </div>
            </div>
            <!--End Item 2-->
        </div>
    </div>
</div>