body {
  background: $body;
}
#ambitious-navbar {
  float: right;
}
@media (max-width: 767px) {
  #ambitious-navbar {
    float: none;
  }
}
.navbar-custom {
  background: white;
  border-bottom: 1px solid $border;
  &.navbar-default .navbar-toggle {
    &:hover, &:focus {
      background-color: $border;
    }
  }
}
.search-wrapper {
  border-right: 1px solid $border;
  margin: 17px 0;
  padding-right: 15px;
  input {
    border-radius: 25px;
    border: 1px solid $border;
    padding: 5px 15px 5px 30px;
    font-size: 0.9em;
    color: $midtext;
    background: url('/img/icons/search-icon.svg') 10px center no-repeat;
    &:focus, &:active {
      outline: none;
    }
  }
}
@media (max-width: 767px) {
  .search-wrapper {
    border: none;
    width: 98%;
    margin: 0 1%;
    padding: 0;
    input {
      width: 98%;
    }
  }
  .profile-link {
    text-align: right;
    margin-right: 1%;
  }
}
.avatar {
  background-size: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-repeat: no-repeat;
}
a.profile-link {
  color: $text;
  font-weight: 500;
  .avatar, .name {
    display: inline-block;
    vertical-align: middle;
  }
  .avatar {
    width: 30px;
    height: 30px;
  }
  .name {
    margin-left: 10px;
    img {
      margin-left: 10px;
    }
  }
}
.item-wrapper {
  background: white;
  border: 1px solid $border;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.10);
  min-height: 100px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
}
.item-top {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 10px;
  .avatar {
    float: left;
  }
  .metadata {
    display: inline-block;
    float: left;
    margin-left: 10px;
  }
  .title {
    font-size: 1.1em;
    color: $text;
    text-transform: uppercase;
    font-weight: 500;
  }
  .date {
    font-size: 0.85em;
    color: $lighttext;
  }
}
.item-description {
  display: block;
  width: 100%;
  font-size: 0.9em;
  color: $text;
}
.item-options {
  float: right;
  a {
    #options-icon {
      fill: $border;
    }
    &:hover, &:focus {
      #options-icon {
        fill: $text;
      }
    }
  }
}
.item-image {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid $border;
  img {
    max-width: 100%;
  }
  &:hover, &:focus {
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,0.3);
    }
  }
}
.item-bottom {
  display: block;
  float: left;
  width: 100%;
  margin-top: 10px;
  .voting-wrapper {
    float: left;
    a.vote-yes {
      .yes-circle {
        fill: white;
        stroke: $green;
      }
      .yes-mouth {
        fill: $green;
      }
      &:hover, &:focus {
        text-decoration: none;
        .yes-circle {
          fill: $green;
          stroke: $green;
        }
        .yes-mouth {
          fill: white;
        }
      }
      &.voted {
        .yes-circle {
          fill: $green;
          stroke: $green;
        }
        .yes-mouth {
          fill: $greenhover;
        }
      }
      &.off {
        .yes-circle {
          fill: white;
          stroke: $iconsoff;
        }
        .yes-mouth {
          fill: $iconsoff;
        }
      }
    }
    a.vote-maybe {
      .maybe-circle {
        fill: white;
        stroke: $orange;
      }
      .maybe-mouth {
        fill: $orange;
      }
      &:hover, &:focus {
        text-decoration: none;
        .maybe-circle {
          fill: $orange;
          stroke: $orange;
        }
        .maybe-mouth {
          fill: white;
        }
      }
      &.voted {
        .maybe-circle {
          fill: $orange;
          stroke: $orange;
        }
        .maybe-mouth {
          fill: $orangehover;
        }
      }
      &.off {
        .maybe-circle {
          fill: white;
          stroke: $iconsoff;
        }
        .maybe-mouth {
          fill: $iconsoff;
        }
      }
    }
    a.vote-no {
      .no-circle {
        fill: white;
        stroke: $red;
      }
      .no-mouth {
        fill: $red;
      }
      &:hover, &:focus {
        text-decoration: none;
        .no-circle {
          fill: $red;
          stroke: $red;
        }
        .no-mouth {
          fill: white;
        }
      }
      &.voted {
        .no-circle {
          fill: $red;
          stroke: $red;
        }
        .no-mouth {
          fill: $redhover;
        }
      }
      &.off {
        .no-circle {
          fill: white;
          stroke: $iconsoff;
        }
        .no-mouth {
          fill: $iconsoff;
        }
      }
    }
  }
  .comment-trigger-wrapper {
    .top, .bottom {
      text-align: right;
    }
    .comment-icon {
      .comment-circle {
        fill: white;
        stroke: $iconsoff;
      }
      .comment-bubble {
        fill: $iconsoff;
      }
      &:hover, &:focus {
        text-decoration: none;
        .comment-circle {
          fill: $blue;
          stroke: $blue;
        }
        .comment-bubble {
          fill: $bluehover;
        }
      }
      &.on {
        .comment-circle {
          fill: $blue;
          stroke: $blue;
        }
        .comment-bubble {
          fill: $bluehover;
        }
      }
    }
  }
  .voting-wrapper, .comment-trigger-wrapper {
    .top {
      display: block;
      }
    .bottom {
      display: block;
      color: $midtext;
      font-size: 0.85em;
    }
  }
  .comment-trigger-wrapper {
    float: right;
  }
}