// Site colors:
$body: #FBFBFF;

$red: #FB4947;
$redhover: #A82322;
$green: #2AC533;
$greenhover: #0E9016;
$orange: #FDB225;
$orangehover: #C88509;
$blue: #02BADB;
$bluehover: #0F8297;

$border: #E4E5EA;
$text: #2D2D2D;
$lighttext: #BEC6CF;
$midtext: #6C757F;

$iconsoff: #BEC6CF;